APP_NAME=ci-admin-api
APP_ENV=local
APP_KEY=base64:Hv1MJoXfz4TI0DC0Mq8eITq9slkKk8ay3G4lwWRXKWA=
APP_DEBUG=true
APP_URL=http://localhost:7002
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=optimyapp-db-ci
DB_PORT=3306
DB_DATABASE=ci
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
VALID_IP_FOR_SECURE_API=172.19.0.1

JWT_SECRET=JhbGciOiJIUzI1N0eXAiOiJKV1QiLC

MAIL_FROM_ADDRESS=info@optimy.com
MAIL_FROM_NAME="Optimy"
MAIL_MAILER=mandrill
MAIL_HOST=smtp.mandrillapp.com
MAIL_PORT=587
MANDRILL_APIKEY=xqjn1CmgZEb4LrstAV5n8Q
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=AKIAWPF57X5TEQCGIR4A
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-central-1

AWS_S3_BUCKET_NAME=optimy-dev-tatvasoft
AWS_S3_DEFAULT_THEME_FOLDER_NAME=default_theme

S3_CUSTOME_CSS_NAME=style.css

AWS_S3_ASSETS_FOLDER_NAME=assets
AWS_S3_IMAGES_FOLDER_NAME=images
AWS_S3_DEFAULT_LANGUAGE_FOLDER_NAME=default_language

ADMIN_EMAIL_ADDRESS=developers-team+ci-admin@optimy.com

#QUEUE_CONNECTION=database
